.b-page {
  display:        flex;
  flex-direction: column;
}

.b-data-set {
  display:         flex;
  justify-content: space-between;
  flex-wrap:       wrap;
  margin:          -8px;
  &__name {
    white-space: nowrap;
  }
  @extend %span2;
  &__item {
    margin: 8px;
    @include w-from($screen-md) {
      flex: 1 1 40%;
    }
  }
  &__val {
    font-weight: bold;
  }
}

.b-btn {
  border:        none;
  outline:       none;
  max-width:     132px;
  flex:          1 1;
  padding:       16px 24px;
  font-size:     20px;
  line-height:   23px;
  font-weight:   bold;
  border-radius: 8px;
  background:    $gray;
  &:active,
  &:focus {
    border:  none;
    outline: none;
  }
  &.mod-yellow {
    background: $yellow;
  }
}

.b-music {
  &__section {
    display:       flex;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__info {
    overflow: hidden;
    width:    100%;
  }
  &__logo {
    flex-basis:    53px;
    min-width:     53px;
    height:        52px;
    border-radius: 2px;
    margin-right:  16px;
    img {
      width:      100%;
      object-fit: cover;
    }
  }
  &__name {
    overflow:      hidden;
    text-overflow: ellipsis;
    white-space:   nowrap;
    margin-bottom: 8px;
    @extend %p2;
    color:         black;
  }
  &__duration {
    display:     flex;
    align-items: center;
    label {
      margin-left: 16px;
      color:       #A1A1A1;
      opacity:     .84;
    }
  }
  &__val,
  &__controls {
    display:     flex;
    align-items: center;
    width:       100%;
    button {
      padding:       0;
      width:         50px;
      min-width:     50px;
      height:        50px;
      background:    #ECECEC;
      border-radius: 50%;
      border:        none;
      outline:       none;
      font-size:     50px;
      color:         #8C8B8B;
      margin-left:   20px;
      @include w-from($screen-md) {
        width:       60px;
        min-width:   60px;
        height:      60px;
        margin-left: 27px;
      }
      &:first-child {
        margin-left: 0;
      }
    }

  }
  &__val {
    margin-left: 8px;
    input {
      width: 100%;
    }
    label {
      margin-left: 16px;
      color:       #A1A1A1;
      opacity:     .84;
    }
  }
}

.b-cam {
  display:        flex;
  flex-direction: column;
  &__stat {
    display:         flex;
    justify-content: space-between;
    margin:          14px 0px 4px;
  }
  &__img {
    max-width:     100%;
    max-height:    400px;
    min-height:    300px;
    position:      relative;
    border-radius: 20px;
    overflow:      hidden;
  }
  &__wrapper {
    img {
      height: 100%;
    }
  }
}

.is-touch {
  .b-cam {
    &__wrapper {
      position:        absolute;
      display:         flex;
      align-items:     center;
      justify-content: center;
      top:             50%;
      left:            50%;
      transform:       translate(-50%, -50%);
      touch-action:    none;
      user-select:     none;
    }
    &__img {
      img {
        width:  auto;
        height: 100%;
      }
    }
  }
}

$thumb-color: #605757;
$thumb-radius: 50%;
$thumb-height: 16px;
$thumb-width: 16px;

$track-color: #D8D8D8;
$track-height: 4px;
$track-radius: 2px;
.b-music__val {
  @include range;
}

$thumb-color: #D8D8D8;
$thumb-radius: 4px;
$thumb-height: 20px;
$thumb-width: 12px;

$track-color: #979797;
$track-height: 1px;
.b-music__info {
  @include range;
}
