%wrapper {
  min-width:  $screen-sm;
  box-sizing: border-box;
  width:      100%;
  margin:     0 auto;
  padding:    0 20px;
}

%h1 {
  font-size:   2.25rem;
  line-height: 2.625rem;
  font-weight: bold;
}

%h2 {
  font-size:   1.2727rem;
  line-height: 1.5455rem;
  font-weight: bold;
  @include w-from($screen-md) {
    font-size:   1.5rem;
    line-height: 1.75rem;
  }
}

%p {
  font-size:   1.6364rem;
  line-height: 2rem;
  @include w-from($screen-md) {
    font-size:   1.5rem;
    line-height: 1.75rem;
  }
}

%p2 {
  @include w-from($screen-md) {
    font-size:   1.25rem;
    line-height: 1.4375rem;
  }
}

%span1 {
  font-size:   1.0909rem;
  line-height: 1.2727rem;
  @include w-from($screen-md) {
    font-size:   1.125rem;
    line-height: 1.3125rem;
  }
}

%span2 {
  font-size:   1.2727rem;
  line-height: 1.4545rem;
  @include w-from($screen-md) {
    font-size:   1.125rem;
    line-height: 1.3125rem;
  }
}

%click-area {
  &:after {
    content:  '';
    position: absolute;
    top:      -10px;
    bottom:   -10px;
    left:     -10px;
    right:    -10px;
  }
}

.wrapper-1280 {
  @extend %wrapper;
  max-width: 1280px;
}

.mod-only-sm {
  @include w-from($screen-md) {display: none !important;}
  @include w-to($screen-md) {display: initial;}
}

.mod-only-lg {
  @include w-to($screen-lg) {display: none !important;}
  @include w-from($screen-lg) {display: initial;}
}

.mod-no-sm {
  @include w-from($screen-md) {display: initial;}
  @include w-to($screen-md) {display: none !important;}
}

.mod-no-lg {
  @include w-to($screen-lg) {display: initial;}
  @include w-from($screen-lg) {display: none !important;}
}

.is-touch {
  .mod-only-touch {
    display: inherit;
  }
}
.no-touch {
  .mod-only-touch {
    display: none !important;
  }
}

.head-is-fixed {
  .b-head {
    position:   fixed;
    width:      100%;
    top:        0;
    right:      0;
    z-index:    10;
    padding:    0 20px;
    box-sizing: border-box;
    @include w-from($screen-md) {
      padding: 0;
      &__wrap {
        padding: 12px 20px;
      }
      &__menu {
        .b-head__nav-wrap {
          position:   fixed;
          background: #F0F0F0;
          height:     100%;
          top:        0;
          z-index:    2;
          right:      0;
          max-width:  175px;
          width:      100%;
          padding:    120px 30px 30px;
          box-sizing: border-box;
          transform:  translateX(100%);
          transition: right .45s ease-in-out;
          nav {
            display:        flex;
            flex-direction: column;
            width:          100%;
            height:         100%;
            overflow-y:     auto;
            overflow-x:     hidden;
          }
          a {
            font-weight:   bold;
            line-height:   20px;
            margin-bottom: 0.5rem;
            opacity:       0.6;
            &:last-child {
              margin-bottom: 0;
            }
            &.mod-active {
              opacity: 1;
            }
          }
        }
      }
      &__trigger {
        position:     absolute;
        display:      block;
        top:          50%;
        right:        0;
        margin-top:   -(($bar-thickness*5) / 2);
        padding:      $bar-thickness*2 0;
        transition:   0.2s ease-in-out;
        z-index:      10;
        margin-right: 20px;

        .b-bars {
          position: relative;
          cursor:   pointer;
          &,
          &:before,
          &:after {
            width:            $bar-length;
            height:           $bar-thickness;
            background-color: $text-color-main;
            border-radius:    $bar-thickness;
            transition:       0.2s ease-in-out;
          }
          &:before,
          &:after {
            content:     '';
            display:     block;
            position:    absolute;
            top:         0;
            left:        0;
            will-change: transform;
          }
          &:before {
            transform: translateY(-($bar-thickness*2));
          }
          &:after {
            transform: translateY(($bar-thickness*2));
          }
        }
        &.is-active {
          transform: rotate(-45deg);
          .b-bars {
            &:before,
            &:after {
              transform: translateX(0) rotate(-90deg);
            }
          }
          & + .b-head__nav-wrap {
            transform:  translateX(0%);
            transition: transform 0.25s ease-in-out;
          }
        }
        &:after {
          content:   '';
          position:  absolute;
          width:     100%;
          height:    100%;
          padding:   0.5rem;
          cursor:    pointer;
          top:       50%;
          left:      50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}