// Размеры экрана
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1180px;
$screen-xl: 1440px;
//

$bar-length: 16px;
$bar-thickness: 2px;

$text-color-grey: #858585;
$text-color-main: #333;
$text-color-red: #d00;
$font-family-sans: "ArialMT", Helvetica, Arial, sans-serif;
$card-color: #FAFAFA;

$attent-color: #DB5341;
$gray: #E5E5E5;
$yellow: #FFD93E;

//input range

$track-color: #424242 !default;
$thumb-color: #555bc8 !default;

$thumb-radius: 8px !default;
$thumb-height: 30px !default;
$thumb-width: 30px !default;
$thumb-shadow-size: 0px !default;
$thumb-shadow-blur: 0px !default;
$thumb-shadow-color: #111 !default;
$thumb-border-width: 0px !default;
$thumb-border-color: white !default;

$track-width: 100% !default;
$track-height: 10px !default;
$track-shadow-size: 0px !default;
$track-shadow-blur: 0px !default;
$track-shadow-color: #222 !default;
$track-border-width: 0px !default;
$track-border-color: black !default;

$track-radius: 0px !default;
$contrast: 5% !default;
