<section class="b-content wrapper-1280">
  <h1 class="b-content__title">Лента событий</h1>
  <div class="b-content__inner">

    <div class="b-card mod-l">
      <div class="b-card__head">
        <header>
          <i class="b-card__ico icon i-stats"></i>
          <h3 class="b-card__title">
            Еженедельный отчет по&nbsp;расходам ресурсов
          </h3>
        </header>
        <div class="b-card__info">
          <span class="b-card__name">Сенсоры потребления</span>
          <span class="b-card__time">19:00, Сегодня</span>
        </div>
      </div>

      <div class="b-card__main">
        <p class="b-card__text">
          Так держать! За&nbsp;последнюю неделю вы&nbsp;потратили
        </p>
        <div class="b-card__data">
          <picture>
            <source srcset="assets/img/Richdata.svg" type="image/svg+xml">
            <img src="assets/img/Richdata@2x.png" alt="yandex">
          </picture>
        </div>
      </div>

      <button class="b-card__close"><i class="b-card__ico icon i-close"></i>
      </button>
      <a href="#" class="b-card__link">
        <i class="b-card__ico icon i-arrow-r"></i>
      </a>
    </div>

    <div class="b-card mod-s">
      <div class="b-card__head">
        <header>
          <i class="b-card__ico icon i-key"></i>
          <h3 class="b-card__title">
            Дверь открыта
          </h3>
        </header>
        <div class="b-card__info">
          <span class="b-card__name">Сенсоры потребления</span>
          <span class="b-card__time">18:50, Сегодня</span>
        </div>
      </div>

      <button class="b-card__close"><i class="b-card__ico icon i-close"></i>
      </button>
      <a href="#" class="b-card__link">
        <i class="b-card__ico icon i-arrow-r"></i>
      </a>

    </div>

    <div class="b-card mod-s">
      <div class="b-card__head">
        <header>
          <i class="b-card__ico icon i-key"></i>
          <h3 class="b-card__title">
            Уборка закончена
          </h3>
        </header>
        <div class="b-card__info">
          <span class="b-card__name">Пылесос</span>
          <span class="b-card__time">18:45, Сегодня</span>
        </div>
      </div>
      <button class="b-card__close"><i class="b-card__ico icon i-close"></i>
      </button>
      <a href="#" class="b-card__link">
        <i class="b-card__ico icon i-arrow-r"></i>
      </a>
    </div>

    <div class="b-card mod-s">
      <div class="b-card__head">
        <header>
          <i class="b-card__ico icon i-ac"></i>
          <h3 class="b-card__title">
            Новый пользователь
          </h3>
        </header>
        <div class="b-card__info">
          <span class="b-card__name">Роутер</span>
          <span class="b-card__time">18:45, Сегодня</span>
        </div>
      </div>
      <button class="b-card__close"><i class="b-card__ico icon i-close"></i>
      </button>
      <a href="#" class="b-card__link">
        <i class="b-card__ico icon i-arrow-r"></i>
      </a>
    </div>

    <div class="b-card mod-m">
      <div class="b-card__head">
        <header>
          <i class="b-card__ico icon i-ac"></i>
          <h3 class="b-card__title">
            Изменен климатический режим
          </h3>
        </header>
        <div class="b-card__info">
          <span class="b-card__name">Роутер</span>
          <span class="b-card__time">18:45, Сегодня</span>
        </div>
      </div>
      <div class="b-card__main">
        <p class="b-card__text">
          Установлен климатический режим «Фиджи»
        </p>
        <div class="b-card__data">
          <div class="b-data-set">
            <div class="b-data-set__item">
              <p class="b-data-set__name">
                Температура: <span class="b-data-set__val">24 C</span>
              </p>
            </div>
            <div class="b-data-set__item">
              <p class="b-data-set__name">
                Влажность: <span class="b-data-set__val">80%</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <button class="b-card__close"><i class="b-card__ico icon i-close"></i>
      </button>
      <a href="#" class="b-card__link">
        <i class="b-card__ico icon i-arrow-r"></i>
      </a>
    </div>

    <div class="b-card mod-m mod-attention">
      <div class="b-card__head">
        <header>
          <i class="b-card__ico icon i-ac"></i>
          <h3 class="b-card__title">
            Невозможно включить кондиционер
          </h3>
        </header>
        <div class="b-card__info">
          <span class="b-card__name">Роутер</span>
          <span class="b-card__time">18:45, Сегодня</span>
        </div>
      </div>
      <div class="b-card__main">
        <p class="b-card__text">
          В комнате открыто окно, закройте его и повторите попытку
        </p>
      </div>
      <button class="b-card__close"><i class="b-card__ico icon i-close"></i>
      </button>
      <a href="#" class="b-card__link">
        <i class="b-card__ico icon i-arrow-r"></i>
      </a>
    </div>

    <div class="b-card mod-m">
      <div class="b-card__head">
        <header>
          <i class="b-card__ico icon i-ac"></i>
          <h3 class="b-card__title">
            Музыка включена
          </h3>
        </header>
        <div class="b-card__info">
          <span class="b-card__name">Роутер</span>
          <span class="b-card__time">18:45, Сегодня</span>
        </div>
      </div>
      <div class="b-card__main">
        <p class="b-card__text">
          Кажется, в холодильнике заканчивается молоко. Вы хотите добавить его в список покупок?
        </p>
        <div class="b-card__data">

          <input type="range" name="volume"
                 min="0" max="100"/>
        </div>
      </div>
      <button class="b-card__close"><i class="b-card__ico icon i-close"></i>
      </button>
      <a href="#" class="b-card__link">
        <i class="b-card__ico icon i-arrow-r"></i>
      </a>
    </div>

    <div class="b-card mod-m">
      <div class="b-card__head">
        <header>
          <i class="b-card__ico icon i-ac"></i>
          <h3 class="b-card__title">
            Невозможно включить кондиционер
          </h3>
        </header>
        <div class="b-card__info">
          <span class="b-card__name">Роутер</span>
          <span class="b-card__time">18:45, Сегодня</span>
        </div>
      </div>
      <div class="b-card__main">
        <p class="b-card__text">
          В комнате открыто окно, закройте его и повторите попытку
        </p>
        <div class="b-card__data">
          <div class="b-card__btns">
            <button class="b-btn mod-yellow">Да</button>
            <button class="b-btn">Нет</button>
          </div>
        </div>
      </div>
      <button class="b-card__close"><i class="b-card__ico icon i-close"></i>
      </button>
      <a href="#" class="b-card__link">
        <i class="b-card__ico icon i-arrow-r"></i>
      </a>
    </div>


    <div class="b-card mod-s">
      <div class="b-card__head">
        <header>
          <i class="b-card__ico icon i-key"></i>
          <h3 class="b-card__title">
            Дверь открыта
          </h3>
        </header>
        <div class="b-card__info">
          <span class="b-card__name">Сенсоры потребления</span>
          <span class="b-card__time">18:50, Сегодня</span>
        </div>
      </div>
      <div class="b-card__main">
        <p class="b-card__text">
          Ура! Устройство «Оконный сенсор» снова в строю!
        </p>
      </div>
      <button class="b-card__close"><i class="b-card__ico icon i-close"></i>
      </button>
      <a href="#" class="b-card__link">
        <i class="b-card__ico icon i-arrow-r"></i>
      </a>
    </div>


    <div class="b-card mod-l mod-attention">
      <div class="b-card__head">
        <header>
          <i class="b-card__ico icon i-stats"></i>
          <h3 class="b-card__title">
            Еженедельный отчет по&nbsp;расходам ресурсов
          </h3>
        </header>
        <div class="b-card__info">
          <span class="b-card__name">Сенсоры потребления</span>
          <span class="b-card__time">19:00, Сегодня</span>
        </div>
      </div>

      <div class="b-card__main">
        <p class="b-card__text">
          Робопылесос не смог сменить свое местоположение
          в течение последних 3 минут. Похоже, ему нужна
          помощь.
        </p>
        <div class="b-card__data">
          <img src="assets/img/card-1.png" alt="yandex"
               srcset="assets/img/card-1@x2.png 800w, assets/img/card-1@x3.png 1200w">
        </div>
      </div>

      <button class="b-card__close"><i class="b-card__ico icon i-close"></i>
      </button>
      <a href="#" class="b-card__link">
        <i class="b-card__ico icon i-arrow-r"></i>
      </a>
    </div>
    <div class="b-card mod-s">
      <div class="b-card__head">
        <header>
          <i class="b-card__ico icon i-key"></i>
          <h3 class="b-card__title">
            Дверь открыта
          </h3>
        </header>
        <div class="b-card__info">
          <span class="b-card__name">Сенсоры потребления</span>
          <span class="b-card__time">18:50, Сегодня</span>
        </div>
      </div>

      <button class="b-card__close"><i class="b-card__ico icon i-close"></i>
      </button>
      <a href="#" class="b-card__link">
        <i class="b-card__ico icon i-arrow-r"></i>
      </a>

    </div>
  </div>
</section>
