.b-content {
  color:  $text-color-main;
  margin: 0 auto 80px auto;
  &__title {
    @extend %h1;
    margin-bottom: 32px;
  }
  &__inner {
    flex:            1 0 auto;
    display:         grid;
    justify-content: center;
    margin:          0 auto;
    grid-gap:        16px 0;
    width:           100%;
    max-width:       500px;
    @include w-from($screen-md) {
      max-width:             1080px;
      grid-template-columns: repeat(6, minmax(100px, 1fr));
      grid-auto-flow:        dense row;
      grid-gap:              14px 20px;
    }
    @include w-from($screen-xl) {
      max-width: 100%;
    }
  }
}

button {
  &:active {
    transform: scale(.98);
  }
}