<div class="b-footer">
  <div class="b-footer__inner wrapper-1280">
 <span class="b-footer__menu">
  <a href="#">Помощь</a>
  <a href="#">Обратная связь </a>
  <a href="#">Разработчикам</a>
  <a href="#">Условия использования</a>
 </span>
    <div class="copyright">
      <span>© 2001–2017  ООО «Яндекс»</span>
    </div>
  </div>
</div>