<!doctype html>
<html lang="ru">
{% include "parts/meta.html" %}
<body class="b-page">
{% include "../blocks/header/header.html" %}
{% include "../blocks/main/main.html" %}
{% include "../blocks/footer/footer.html" %}
{% include "parts/scripts.html" %}
</body>
</html>
